{{ define "modal-follows" }}
<div class="modal fade" id="modal-follows">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Seguindo</h2>
      </div>
      <div class="modal-body">
        {{ range .Follows }}
          <a href="/usuario/{{ .ID }}">{{ .Name }}</a> <br />
        {{ else }}
          <p class="text-muted text-center">
            Nenhum usuário sendo seguido
          </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}