{{ define "editar" }}
  <a href="/posts/{{ .ID }}/editar" style="text-decoration: none"><i class="fas fa-edit"></i></a>
{{ end }}

{{ define "deletar" }}
    <i class="fas fa-trash text-danger deletar-post" style="cursor: pointer"></i>
{{ end }}

{{ define "curtidas" }}
  <i class="fas fa-heart curtir-post" style="cursor: pointer"></i>
  <span>{{ .Likes }} curtidas</span>
{{ end }}

{{ define "posts-header" }}
  <h1 class="display-4">{{ .Title }}</h1>
  <p class="lead">{{ .Description }}</p>
  <p class="lead">{{ .Content }}</p>
  <a href="/usuario/{{ .UserId }}">{{ .Username }} - {{ .CreatedAt.Format "02/01/2006" }}</a>
  <hr class="my-4">
{{ end }}

{{ define "posts-with-permission" }}
  <div class="jumbotron" data-post-id="{{ .ID }}">
      {{ template "posts-header" . }}
      <p>
        {{ template "curtidas" . }}
        {{ template "editar" . }}
        {{ template "deletar" . }}
      </p>
  </div>
{{ end }}

{{ define "posts-no-permisson" }}
  <div class="jumbotron" data-post-id="{{ .ID }}">
    {{ template "posts-header" . }}
    <p>
      {{ template "curtidas" . }}
    </p>
  </div>
{{ end }}