<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - Post - {{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
</head>

<body>
    {{ template "header" }}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <h3>Atualizar Post</h3>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" class="form-control" placeholder="Insert a title" value="{{ .Title }}">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" name="content" placeholder="Content">{{ .Content }}</textarea>
                </div>
                <div class="form-group">
                    <label for="description">Content</label>
                    <textarea class="form-control" id="description" name="description" placeholder="Content">{{ .Description }}</textarea>
                </div>
                <button id="atualizar-post" class="btn btn-info" data-post-id="{{ .ID }}">
                    Salvar Post
                </button>
            </div>
        </div>
    </div>

    {{ template "footer" }}
    {{ template "scripts" }}

    <script src="/assets/js/posts.js"></script>
</body>

</html>